body{
    margin: 0;
}

.menu{
    border: 1px solid black;
    position: relative;
    background-color: #EFEFEF;

}
li{
    display: ;
    float: left;
    text-decoration: none;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    left: 650px;
    border: 1px solid red;
}

ul{ 
    margin-top: 0;

}
a{
    background-color: #EFEF44;
}